.hero__text {
    color: #fff;
    text-align: center;
}
.hero__text h2 {
    font-size: 62px;
    text-transform: uppercase;
}
.countdown__boxes {
    display: flex;
    justify-content: center;
    color: #000;
    width: 100%;
}
.countdown__box {
    background: #fff;
    width: 100px;
    height: auto;
    padding: 5px;
    margin: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.countdown__box h2 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}
.countdown__box p {
    font-size: 1rem;
    font-weight: 400;
    color: darkgray;
    margin: 0;
}