body {
    background: #FAFAFA;
    color: #000000;
}
.blogStyle > a {
    color: #000 !important;
}
.blog__intro h2 {
    font-size: 30px;
    font-weight: 500;
}
.banner__text {
    color: #000;
}
.linkColor {
    color: #000 !important;
}

.hero__text p {
    justify-content: flex-start;
}
.banner__text {
    margin: 4rem 0;
}
.blog__page {
    width: calc(100% - 30%);
    margin: 0 auto;
    font-size: 20px;
}
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.blogs__btn {
    align-self: center;
    background: #7C0FD5;
    margin: 2rem 0;
}
.recent__articles {
    width: 70%;
    margin: 5% 0;
}
.recent__articles h3 {
    font-size: 30px;
    font-weight: 500;
}





/* herotext CSS start */
.blog_hero__banner {
    background: #210045;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    /* padding: 3rem 0; */
}
.blog__emptydiv {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0.7;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    width: 40%;
    height: 365px;
    z-index: 1;
}
.blurred__div {
    background: rgb(182, 71, 184, 0.7);
    width: 30%;
    height: 15rem;
    margin: 3rem 50%;
    z-index: -1;
    opacity: 0.5;
    box-shadow: 0 1px 20px 20px rgb(182, 71, 184, 0.7);
    border-radius: 13px;
}
.blog__hero_textSmall {
    display: flex;
    gap: 0.3rem;
    margin-left: -5rem;
}
span.line__before__blog {
    background: #fff;
    width: 5rem;
    height: 3px;
    margin-top: 0.6rem;
}
.blog_hero__text {
    width: 40%;
    margin-left: -9rem;
    margin-bottom: 5rem;
    z-index: 2;
}
.blog_hero__text h2 {
    font-weight: 300;
    font-size: 40px;
    text-transform: capitalize;
}