body {
    background: #FAFAFA;
    color: #000000;
}
.blogStyle > a {
    color: #000 !important;
}
.blog__intro h2 {
    font-size: 30px;
    font-weight: 500;
}
.banner__text {
    color: #000;
}
.linkColor {
    color: #000 !important;
}

.hero__text p {
    justify-content: flex-start;
}
.banner__text {
    margin: 4rem 0;
}
.blog__page {
    width: calc(100% - 30%);
    margin: 0 auto;
    font-size: 20px;
}
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.blogs__btn {
    align-self: center;
    background: #7C0FD5;
    margin: 2rem 0;
}
.recent__articles {
    width: 70%;
    margin: 5% 0;
}
.recent__articles h3 {
    font-size: 30px;
    font-weight: 500;
}
.hero__text {
    width: 30%;
    margin-left: 20%;
}
.hero__text h2 {
    font-weight: 300;
    font-size: 45px;
    text-transform: uppercase;
}
.blog__hero_text {
    display: flex;
    flex-direction: row;
}

span.line__before__blog {
    background: #fff;
    width: 5rem;
    height: 2px;
    margin-top: 0.6rem;
}