
.contactus__modal {
  display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    backdrop-filter: blur(7px);
    z-index: 999;
  }
  .contactus__divempty {
    width: 50%;
    height: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
    top: 50%;
  }
  .contactus__divform {
    position: relative;
    width: 50%;
    background-color: #210045;
  }
  
  .contactus__main {
    width: 70%;
    height: 70%;
    margin: 5rem auto;
    background: transparent;
    color: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 4%);
}
  .contactus__mainHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  .contactus__message {
    /* width: 80%; */
    margin: auto;
    padding: 10px;
    font-weight: 500;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
  }
  .contactus__main > div:nth-of-type(2) {
    width: 100%;
    margin: auto;
}
  .contactus__form {
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  .contactus__form > div {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
  }
  .contactus__form > div label {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  .contactus__form > div input,
  .contactus__form > div textarea 
   {
    width: 100%;
    height: 4rem;
    border-radius: 15px;
    padding: 0 2%;
    outline: none;
  }
  .contactus__form > div textarea {
    height: 10rem;
    padding: 2% 2%;
    resize: none;
  }
  .contact_form__btn {
    font-size: 1.1rem;
    font-weight: 600;
    background: #271AC1;
    margin: 7% 0;
  }

  
  
  .closeBtn {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    left: 0;
    top: 0;
    align-self: flex-start;
    margin-left: -2rem;
  }
  .contactus__icon {
    width: 1.5rem;
    height: 1.5rem;
    color: #271AC1;
  }
  
 