
.banner__text {
    display: flex;
    flex-direction: row;
}
.blog__intro {
    width: 100%;
}
.search__input {
    position: relative;
    width: 60%;
    margin: 0px 4%;
    align-self: center;
    justify-self: center;
}
.search__field {    
    background: transparent;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 38px;
    border: 2px solid #000;
    outline: black;
    color: #fff;
    padding-left: 1rem;
    align-self: flex-end;
}
.search__icon {
    position: absolute;
    color: #19073B;
    min-width: 100px;
    right: 0;
    top: 2rem;
}