.knowmore_hero__banner {
    background: rgb(185 56 220 / 12%);
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    margin: 0 auto;
    padding: 3% 0;
} 
.knowmore_hero__banner_2 {
    width: calc(100% - 30%);
    margin: 0 auto;
}
.knowmore_metricks__text {
    text-align: left;
    color: #fff;
}
.knowmore_metricks__text h4 {
    font-size: 44px;
    font-weight: 500;
}
.knowmore_metricks__text p {
    font-size: 22px;
    font-weight: 300;
    margin: 4% 0;
}
.knowmore_metricks__text a {
    font-size: 22px;
}