.banner__text {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.about__us {
    display: flex;
    flex-direction: row;
    align-self: center;
}
hr {
    transform: rotate(90deg);
    margin-left: -5px;
}
.hero__text {
    width: 60%;
    align-self: center;
}
.banner__description {
    width: 60%;
    align-self: flex-end;
}
