.aboutus__herotext {
    display: flex;
    flex-direction: row;
}
.banner__text {
    /* display: flex;
    flex-direction: column; */
    color: #fff;
}
.about__us {
    background: #210045;
}
.opaque__div {
    background: rgba(185, 56, 220, 0.349);
    opacity: 0.7;
    backdrop-filter: blur(1px);
    width: 70%;
    height: 60vh;
    z-index: 1;
}
.orange__box {
    background: #7F4129;
    width: 30%;
    height: 20rem;
    margin: 3rem 50%;
    z-index: -1;
    opacity: 0.6;
    -webkit-backdrop-filter: blur(0.2px);
    backdrop-filter: blur(0.2px);
    box-shadow: 0 1px 15px 6px #7f4129;
    border-radius: 13px;
}
.hero__text {
    width: 60%;
    align-self: center;
}
.banner__description {
    width: 60%;
    align-self: flex-end;
}
.developed {
    width: calc(100% - 30%);
    margin: 10% auto;
    color: #fff;
}
.developed h2 {
    text-align: left;
    font-size: 64px;
    font-weight: 300;
}
.developed span {
    font-weight: 500;
}
/* WHY US CSS STARTS */

.why__us {
    display: flex;
    /* width: calc(100% - 30%); */
    /* margin: auto; */
    color: #fff;
    gap: 5rem;
}
.whyus__divs:nth-of-type(1) {
    padding-left: 18rem;
}
.whyus__divs:nth-of-type(2) {
    background: rgb(185 56 220 / 12%);
    padding-right: 18rem;
}
.number {
    display: flex;
    flex-direction: column;
}
.number span {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}
.whyus__title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
h3.title__whyus {
    margin-top: 1.2rem;
    text-transform: uppercase;
    font-size: 22px;
}
.whyus__text p {
    margin: 2rem 0;
}
.whyus__div {
    padding: 5%;
}


/* WHY US CSS ENDS  */
